html {
    box-sizing: border-box;
    }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E7E6D2; 
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* Title text syling */
.title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}

.title-box {
    font-size: 30px;
    position: relative;
    right: 70px;
}

/* Intro and Body text styling - e.g. About page body text*/
.intro-text-section {
    display: flex;
    justify-content: center;
}

.intro-text-box {
    max-width: 400px;
}

.body-text-section {
    display: flex;
    justify-content: center;
}

.body-text-box {
    max-width: 400px;
    /* Is it a bad idea to do this? Only affects it when its small which we can account for by making site dynamic */
    position: relative; 
    left: 30px;

}

/* Profile picture styling */
.profile-picture-section {
    display: flex;
    justify-content: center;
}

/* Resume download button */

/* Homepage main text styling */
.main-title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.main-title-box {
    padding: 5px;
}

.main-title-box h1 {
    font-size: 65px;
    text-align: left;
}

.sub-title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.sub-title-box {
    padding-top: 20px;
    padding-right: 110px;
}

.sub-title-box h3 {
    font-size: 30px;
    text-align: left;
}


/* Homepage social link styling */
.social-links-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 220px;
}

.social-logo-box {
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 10px;
    /* background-color: #E5E0C6; */
    /* background-color: #E9E3D5; */
    background-color: #F4F3DF;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.social-logo-box:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    transform: scale(1.03);
    transition: 0.25s;
}


/* Nav bar styling */
.navbar {
    font-size: 18px;
    background-color: #E7E6D2;
    border: 1px solid #E7E6D2;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}

.logo:hover,
.nav-links:hover,
.fa-bars:hover {
        color: rgba(0, 0, 0, 1);
}

#chkToggle {
    display: none;
}
  
#chkToggle:checked + ul.main-nav {
    display: block;
}

/* Modifies navbar for desktop to be horizontal */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
        display: flex;
    }
  
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
  
    .main-nav li {
        margin: 0;
    }
  
    .nav-links {
        margin-left: 40px;
    }
  
    .logo {
        margin-top: 0;
    }
  
    .navbar-toggle {
        display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
        color: rgba(0, 0, 0, 1);
    }
}