html {
    box-sizing: border-box;
    }

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F5D7; 
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1 {
    /* 20% darker than background but also more translucent*/
    text-shadow: 2px 2px 2px rgba(181, 179, 160, 0.5)
}

h3 {
    text-shadow: 1px 1px 3px rgba(181, 179, 160, 0.3)
}

/* Title text syling */
.title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 20px;
}

.title-box {
    font-size: 30px;
    position: relative;
    right: 70px;
}

/* Intro and Body text styling - e.g. About page body text*/
.intro-text-section {
    display: flex;
    justify-content: center;
}

.intro-text-box {
    max-width: 400px;
}

.body-text-section {
    display: flex;
    justify-content: center;
}

.body-text-box {
    max-width: 400px;
    /* Is it a bad idea to do this? Only affects it when its small which we can account for by making site dynamic */
    position: relative; 
    left: 30px;

}

/* Profile picture styling */
.profile-picture-section {
    display: flex;
    justify-content: center;
}

/* Resume download button */
.resume-button-section {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.resume-button {
    background-color: #677977;
	border-radius: 15px;
	border:1px solid #5A6C6A;
	cursor: pointer;
	color: rgb(255, 255, 255, 0.9);
	font-size:17px;
	padding:12px 32px;
    text-decoration:none;
    /* Play with settings here */
    text-shadow:0px 2px 0px #5A6C6A;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

/* Fix background color to be slightly darker than normal */
.resume-button:hover {
	background-color:#5A6C6A;
}

/* Use this kind of effect for the homepage - simulates button press type of thing */
.resume-button:active {
	position:relative;
	top:1px;
}

/* Homepage main text styling */
.main-title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.main-title-box {
    padding: 5px;
}

.main-title-box h1 {
    font-size: 65px;
    text-align: left;
}

.sub-title-section {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.sub-title-box {
    padding-top: 20px;
    padding-right: 110px;
}

.sub-title-box h3 {
    font-size: 30px;
    text-align: left;
}

/* About Page Skills sub-title additional styling */
#skills-sub-title {
    font-size: 22px;
    margin-top: 15px;
    position: relative;
    right: 60px;
}

#other-skills-sub-title {
    font-size: 22px;
    position: relative;
    right: 105px;
}

#education-sub-title {
    font-size: 22px;
    position: relative;
    right: 112px;
}

/* Skills - small pill buttons section */
.technical-skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 5px;
}

.skills {
    list-style: none;
    position: relative;
    right: 63px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skills li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.skills li:hover {
    background-color: #89B3B1;
    transition: 0.25s;
}

.skills.ruby-stack {
    right: 89px;
}

.skills.js-stack {
    right: 130px;
}

.skills.hardware {
    left: 4px;
}

.skills.financial-tech {
    right: 10px;
}

.skills.non-technical {
    right: 45px;
}

.education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 5px;
}

.education {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.education li {
    position: relative;
    left: 112px;
    padding: 3px;
}

.education a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: italic;
}

.education a:hover {
    color: #89B3B1;
}

/* Projects page styling */
.portfolio-section {
    display: flex;
    justify-content: space-evenly;
}

.portfolio-box {
    max-width: 310px;
    padding-bottom: 15px;
}

.portfolio-item-heading {
    font-size: 20px;
    padding-bottom: 5px;
}

.portfolio-box img {
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 8px;
}

.portfolio-box p {
    font-size: 15px;
}

.portfolio-box img:hover {
    transform: scale(1.01);
    transition: 0.1s;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.portfolio-box img:active {
    position: relative;
	top: 2px;
}

/* Placeholder styling */
.placeholder-button {
	background-color: rgb(255, 255, 255, 0.7);
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:40px;
    padding:60px 120px;
    text-shadow:0px 1px 0px grey;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    margin-bottom: 8px;
}

.placeholder-button:hover {
	transform: scale(1.01);
    transition: 0.1s;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    color: #89B3B1;
}
.placeholder-button:active {
	position: relative;
	top: 2px;
}

/* Blog page styling */
.col-sm-4.rtb-col {
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #F5F3DF;
}

.post-date {
    /* display: none; */
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.post-image {
    border-radius: 10px;
}

.author.mt-2 {
    display: none;
}

.btn.btn-primary {
    display: none;
}

.post-title {
    text-decoration: none;
    color: inherit;
}

.post-title:hover {
    color: #89B3B1;
}

/* Homepage social link styling */
.social-links-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 220px;
}

.social-logo-box {
    border-radius: 20px;
    padding: 10px;
    background-color: #F4F3DF;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.social-logo-box:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    transform: scale(1.025);
    transition: 0.25s;
}

.social-logo-box:active {
	position:relative;
	top: 2px;
}

/* Nav bar styling */
.navbar {
    font-size: 18px;
    background-color: #E7E6D2;
    border: 1px solid #E7E6D2;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}

.logo:hover,
.nav-links:hover,
.fa-bars:hover {
        color: rgba(0, 0, 0, 1);
}

#chkToggle {
    display: none;
}
  
#chkToggle:checked + ul.main-nav {
    display: block;
}

/* Modifies navbar for desktop to be horizontal */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
  
    #chkToggle:checked + ul.main-nav {
        display: flex;
    }
  
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
  
    .main-nav li {
        margin: 0;
    }
  
    .nav-links {
        margin-left: 40px;
    }
  
    .logo {
        margin-top: 0;
    }
  
    .navbar-toggle {
        display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
        color: rgba(0, 0, 0, 1);
    }
}